<ion-tabs class="tab-completo">
  <ion-tab-bar
    slot="bottom"
    class="tab-bar"
  >
    <ion-tab-button tab="home">
      <ion-img [src]="home"></ion-img>

      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="temperatura">
      <ion-img [src]="temperaturas"></ion-img>

      <ion-label>Temperaturas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lluvias">
      <ion-img [src]="lluvias"></ion-img>

      <ion-label>Lluvias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="heladas">
      <ion-img [src]="heladas"></ion-img>

      <ion-label>Heladas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aplicaciones">
      <ion-img [src]="aplicaciones"></ion-img>

      <ion-label>Aplicaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-img [src]="publicidad"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2"></ion-col>

    <ion-col size="7">
      <ion-img [src]="logo"></ion-img>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="2" class="ion-no-padding">
      <ion-button color="success" (click)="salir()" size='small'>
        <ion-icon name="power" color="dark"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-tabs>