<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="temperatura">
      <ion-icon name="thermometer"></ion-icon>
      <ion-label>Temperaturas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lluvias">
      <ion-icon name="rainy"></ion-icon>
      <ion-label>Lluvias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="heladas">
      <ion-icon name="snow-outline"></ion-icon>
      <ion-label>Heladas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eventos">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
