ion-tab-bar.tab-bar {
    --background: rgba(100, 100, 100, 0.1);
    font-family: Helvetica;
    --color: powderblue;
}

ion-tab-button {
    --padding-start: 0px;
    --padding-end: 0px;
}

.tab-completo {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 1);
}

ion-tab-button {
    padding: 0px;
    margin: 0px;
}

ion-img {
    width: auto !important;
    height: auto !important;
    color: powderblue !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ion-tab-button.tab-selected {
    color: dodgerblue;
    font-weight: 600;
}

ion-tab-bar {
    color: dodgerblue;
}

ion-tab-button {
    color: var(--color);
}

ion-tab-bar {
  --border: 0;
}

ion-tab-button ion-icon {
  font-size: 22px;
}

ion-tab-button ion-label {
  font-size: 11px;
}

.exit-btn {
  --border-radius: 999px;
  --padding-start: 0;
  --padding-end: 0;
  width: 44px;
  height: 44px;
  min-width: 44px;

  ion-icon {
    font-size: 22px;
  }

  /* le baja un poco la agresividad visual */
  opacity: 0.92;
}

.exit-btn:active {
  transform: scale(0.98);
  opacity: 1;
}
