<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="temperatura">
      <ion-icon name="thermometer-outline"></ion-icon>
      <ion-label>Temperaturas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lluvias">
      <ion-icon name="rainy-outline"></ion-icon>
      <ion-label>Lluvias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="heladas">
      <ion-icon name="snow-outline"></ion-icon>
      <ion-label>Heladas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aplicaciones">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>Aplicaciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-img [src]="publicidad"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2"></ion-col>

    <ion-col size="7">
      <ion-img [src]="logo"></ion-img>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="2" class="ion-no-padding">
      <ion-button class="exit-btn" fill="solid" color="danger" shape="round" (click)="confirmSalir()"
        aria-label="Salir">
        <ion-icon name="power-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-tabs>