<ion-content [fullscreen]="true" class="contenido">
  <div class="bg" [style.background-image]="'url(' + imagen + ')'"></div>

  <div class="content">

    <div class="bgOverlay"></div>
    <div class="contentWrap">
        <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <div class="topSticky">
            <ion-button (click)="onClick()" expand="block" color="light">
                <ion-icon name="location-outline"></ion-icon>
                Seleccionar localidad
            </ion-button>
        </div>

        <!-- Estacion -->
        <ion-row class="fila">

            <ion-col size="11" class="estacion1">
                {{ this.dato?.nombre }}
            </ion-col>
            <ion-col size="1" class="estacion2">
                <img src="{{ubicacion}}">
            </ion-col>
        </ion-row>

        <!-- día -->
        <ion-row>
            <ion-col size="5">
                <ion-row class="diasemana">
                    {{ this.diaSemana }}
                </ion-row>
                <!-- Temperatura -->
                <ion-row class="tem" *ngIf=" (this.dato.temp_af <60); else noTemp">
                    {{ fmt1(this.dato.temp_af) }}º
                </ion-row>
                <ng-template #noTemp>
                    <ion-row class="tem">
                        S/D
                    </ion-row>
                </ng-template>
            </ion-col>
            <ion-col size="7">
                <!-- ícono tiempo -->
                <ion-row>
                    <ion-col size="12" class="ico">
                        <img src="{{icono}}" style="width: 90px; height: 90px;">
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

        <!-- fecha -->
        <ion-row>
            <ion-col size="12" class="fecha">
                {{ this.dia }} de {{ this.nombreMes }} {{ this.anio}}
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <div class="divider"></div>
            </ion-col>
        </ion-row>

        <ion-row class="fila">
            <!-- Humedad -->
            <ion-col size="1.8" class="cuerpo1">
                <img src="../../assets/wheater-icons/humedad.png">
            </ion-col>
            <ion-col size="3.9" class="cuerpo2" *ngIf=" (this.dato.hum_af <100); else noHum">
                {{ fmt0(this.dato.hum_af) }} %
            </ion-col>
            <ng-template #noHum>
                <ion-col class="cuerpo2">
                    S/D
                </ion-col>
            </ng-template>

            <!-- espacio -->
            <ion-col size="0.6">
            </ion-col>

            <!-- Lluvia -->
            <ion-col size="1.8" class="cuerpo1">
                <img src="../../assets/wheater-icons/precipitaciones.png">
            </ion-col>
            <ion-col size="3.9" class="cuerpo2" *ngIf=" (this.dato.RR_dia <200); else noRain">
                {{ fmt1(this.dato.RR_dia) }} mm
            </ion-col>
            <ng-template #noRain>
                <ion-col class="cuerpo2">
                    S/D
                </ion-col>
            </ng-template>

        </ion-row>

        <!-- Línea -->
        <ion-row>
            <ion-col size="5.7">
                <div class="divider"></div>
            </ion-col>
            <ion-col size="0.6">
            </ion-col>
            <ion-col size="5.7">
                <div class="divider"></div>
            </ion-col>
        </ion-row>

        <ion-row class="fila">
            <!-- Viento -->
            <ion-col size="1.8" class="cuerpo1">
                <img src="../../assets/wheater-icons/viento.png">
            </ion-col>
            <ion-col size="3.9" class="cuerpo2" *ngIf=" (this.dato.viento_medio <380); else noWind">
                {{ fmt1(this.dato.viento_medio) }} km/h
            </ion-col>
            <ng-template #noWind>
                <ion-col class="cuerpo2">
                    S/D
                </ion-col>
            </ng-template>

            <!-- espacio -->
            <ion-col size="0.6">
            </ion-col>

            <!-- Dirección -->
            <ion-col size="1.8" class="cuerpo1">
                <img src="../../assets/wheater-icons/norte.png">
            </ion-col>
            <ion-col size="3.9" class="cuerpo2" *ngIf=" (this.dato.viento_medio <380); else noWind">
                {{ this.dato.direc }}
            </ion-col>
        </ion-row>

        <!-- Línea -->
        <ion-row>
            <ion-col size="5.7">
                <div class="divider"></div>
            </ion-col>
            <ion-col size="0.6">
            </ion-col>
            <ion-col size="5.7">
                <div class="divider"></div>
            </ion-col>
        </ion-row>

        <ion-row class="fila">
            <!-- Presión -->
            <ion-col size="1.8" class="cuerpo1">
                <img src="../../assets/wheater-icons/presion.png">
            </ion-col>
            <ion-col size="3.9" class="cuerpo2"
                *ngIf=" (this.dato.presion <2000 && this.dato.presion >500); else noPresion">
                {{ fmt1(this.dato.presion) }} hPa
            </ion-col>
            <ng-template #noPresion>
                <ion-col size="3.9" class="cuerpo2">
                    ---- hPa
                </ion-col>
            </ng-template>

            <!-- espacio -->
            <ion-col size="0.6">
            </ion-col>

            <!-- Aplicación -->

            <ion-col size="3.9"  [ngClass]="aplicarOk ? 'aplicar' : 'no-aplicar'">
                <div class="aplicar-texto">
                    {{ aplicarTexto }}
                </div>

                <div class="aplicar-motivos" *ngIf="!aplicarOk && aplicarMotivos.length">
                    {{ aplicarMotivos.join(' · ') }}
                </div>
            </ion-col>

        </ion-row>

        <!-- Línea -->
        <ion-row>
            <ion-col size="5.7">
                <div class="divider"></div>
            </ion-col>
            <ion-col size="0.6">
            </ion-col>
            <ion-col size="5.7">
                <div class="divider"></div>
            </ion-col>
        </ion-row>

        <div id="fechayhora">
            <span>{{ this.hora }} hs</span>
        </div>
        <br>
        <ion-row>
            <ion-col size="12">
                <div class="divider"></div>
            </ion-col>
        </ion-row>

        <!-- ALERTAS -->

        <div class="alertasHeader">
            <span>Alertas SMN • {{ alertas?.[0]?.area || '' }}</span>
            <td class="imagenes">
                <a href="https://openweathermap.org/"><img src="../../assets/images/smn.png" alt=""></a>
            </td>

            <button class="linkBtn" *ngIf="alertas?.length > 2" (click)="showAlertsAll = !showAlertsAll">
                {{ showAlertsAll ? 'Ver menos' : 'Ver más' }}
            </button>
        </div>

        <div *ngIf="!alertas?.length" class="alertaSin">
            No hay alertas meteorológicas
        </div>

        <div *ngFor="let a of alertasVisibles">
            <div class="alertaBox nivel-{{a.nivel}}" (click)="a.open = !a.open">
                <div class="alertaHeader">
                    <strong>{{ a.area }}</strong>
                    <span>{{ a.fecha }}</span>
                    <span class="badge">Nivel {{ a.nivel }}</span>
                </div>

                <div *ngIf="a.open" class="alertaDetalle">
                    <p>{{ a.descripcion }}</p>
                    <pre>{{ a.instruccion }}</pre>
                </div>
            </div>
        </div>


        <ion-row>
            <ion-col size="12">
                <div class="finita">
                    <div class="divider"></div>
                </div>
            </ion-col>
        </ion-row>

        <div class="pronostico">
        </div>
        <div class="centrados">
            <td class="texto">
                <span>PRONOSTICO</span>
            </td>
            <td class="imagenes">
                <a href="https://openweathermap.org/"><img src="../../assets/images/openweatherlogo.png" alt=""></a>
            </td>
        </div>

        <ion-row>
            <ion-col size="12">
                <div class="finita">
                    <div class="divider"></div>
                </div>
            </ion-col>
        </ion-row>

        <div class="pronosticoTitle">
            <span>Próximas horas</span>
            <button class="linkBtn" (click)="showForecastAll = !showForecastAll">
                {{ showForecastAll ? 'Ver menos' : 'Ver completo' }}
            </button>
        </div>

        <!-- Vista corta -->
        <!-- PRONÓSTICO CORTO -->
        <table *ngIf="!showForecastAll" class="forecastTable">
            <tr *ngFor="let item of datosHShort">
                <td class="tds hora">{{ item[1] }}</td>
                <td class="tds icono">
                    <img [src]="item[2]" class="imagen">
                </td>
                <td class="tds temp">{{ item[3] }}º</td>
                <td class="tds hum">{{ item[4] }}%</td>
                <td class="tds viento">{{ item[5] }} km/h</td>
                <td class="tds desc">{{ item[6] }}</td>
            </tr>
        </table>

        <!-- PRONÓSTICO COMPLETO -->
        <table *ngIf="showForecastAll" class="forecastTable">
            <ng-container *ngFor="let item of datosH">

                <!-- FILA TÍTULO DE FECHA -->
                <tr *ngIf="item[0] != 0" class="pronosticoFecha">
                    <td class="pronosticoTitle" colspan="6">
                        {{ item[0] }}
                    </td>
                </tr>

                <!-- FILA NORMAL -->
                <tr *ngIf="item[0] == 0">
                    <td class="tds hora">{{ item[1] }}</td>
                    <td class="tds icono">
                        <img [src]="item[2]" class="imagen">
                    </td>
                    <td class="tds temp">{{ item[3] }}º</td>
                    <td class="tds hum">{{ item[4] }}%</td>
                    <td class="tds viento">{{ item[5] }} km/h</td>
                    <td class="tds desc">{{ item[6] }}</td>
                </tr>

            </ng-container>
        </table>

        <ion-row>
            <ion-col size="12">
                <div class="finita">
                    <div class="divider"></div>
                </div>
            </ion-col>
        </ion-row>
        <br>
    </div>
      </div>
</ion-content>