<ion-content [fullscreen]="true" class="contenido" style="--background: url({{imagen}})">
    <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-button 
            (click)="onClick()"
            size="default"
            expand="full"
            color="light"
            strong=true
        >
        <ion-icon name="location-outline"></ion-icon>
        Seleccionar localidad
        </ion-button>

            <!-- Estacion -->
            <ion-row class="fila">

                <ion-col size="11" class="estacion1">
                    {{ this.dato.nombre }}
                </ion-col>
                <ion-col size="1" class="estacion2">
                    <img src="{{ubicacion}}">
                </ion-col>
            </ion-row>
            
            <!-- día -->
            <ion-row>
                <ion-col size="5">
                    <ion-row class="diasemana">
                        {{ this.diaSemana }}
                    </ion-row>
                    <!-- Temperatura -->
                    <ion-row  class="tem" *ngIf=" (this.dato.temp_af <70); else noTemp">
                        {{ this.dato.temp_af.toFixed(1) }}º
                    </ion-row>
                    <ng-template #noTemp>
                        <ion-row class="tem">
                            S/D
                        </ion-row>
                    </ng-template>
                </ion-col>
                    <ion-col size="7">
                        <!-- ícono tiempo -->
                        <ion-row>
                            <ion-col size="12" class="ico">
                                <img src="{{icono}}" style="width: 90px; height: 90px;">
                            </ion-col>
                        </ion-row>

                    <!-- índice UV -->
                        <ion-row>
                            <ion-col size="11" class="uv">
                                Índice UV:&nbsp;{{uv}}
                            </ion-col>
                            <ion-col size="1" style="background-color: green; -webkit-border-radius: 50%; border-radius: 50%;" *ngIf=" (this.uv<3); else amarillo"></ion-col>
                            <ng-template #amarillo>
                                <ion-col size="1" style="background-color: yellow; -webkit-border-radius: 50%; border-radius: 50%;" *ngIf=" (this.uv<6); else naranja"></ion-col>
                                <ng-template #naranja>
                                    <ion-col size="1" style="background-color: orange; -webkit-border-radius: 50%; border-radius: 50%;" *ngIf=" (this.uv<8); else rojo"></ion-col>
                                    <ng-template #rojo>
                                        <ion-col size="1" style="background-color: red; -webkit-border-radius: 50%; border-radius: 50%;"></ion-col>
                                    </ng-template>
                                    </ng-template>
                            </ng-template>
                        </ion-row>
                    </ion-col>
            </ion-row>

            <!-- fecha -->
            <ion-row>
                <ion-col size="12" class="fecha">
                    {{ this.dia }} de {{ this.nombreMes }} {{ this.anio}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <hr>
                </ion-col>
            </ion-row>

            <ion-row class="fila">
                <!-- Humedad -->
                <ion-col size="1.8" class="cuerpo1">
                    <img src="../../assets/wheater-icons/humedad.png">
                </ion-col>
                <ion-col size="3.9" class="cuerpo2">
                    {{ this.dato.hum_af }} %
                </ion-col>

                <!-- espacio -->
                <ion-col size="0.6">
                </ion-col>
             
                <!-- Lluvia -->
                <ion-col size="1.8" class="cuerpo1">
                    <img src="../../assets/wheater-icons/precipitaciones.png">
                </ion-col>
                <ion-col size="3.9" class="cuerpo2">
                    {{ this.dato.RR_dia }} mm
                </ion-col>
            </ion-row>

            <!-- Línea -->
            <ion-row>
                <ion-col size="5.7">
                    <hr>
                </ion-col>
                <ion-col size="0.6">
                </ion-col>
                <ion-col size="5.7">
                    <hr>
                </ion-col>
            </ion-row>

            <ion-row class="fila">
                <!-- Viento -->
                <ion-col size="1.8" class="cuerpo1">
                    <img src="../../assets/wheater-icons/viento.png">
                </ion-col>
                <ion-col size="3.9" class="cuerpo2">
                    {{ this.dato.viento_medio }} km/h
                </ion-col>

                <!-- espacio -->
                <ion-col size="0.6">
                </ion-col>
             
                <!-- Dirección -->
                <ion-col size="1.8" class="cuerpo1">
                    <img src="../../assets/wheater-icons/norte.png">
                </ion-col>
                <ion-col size="3.9" class="cuerpo2">
                    {{ this.dato.direc }}
                </ion-col>
            </ion-row>

            <!-- Línea -->
            <ion-row>
                <ion-col size="5.7">
                    <hr>
                </ion-col>
                <ion-col size="0.6">
                </ion-col>
                <ion-col size="5.7">
                    <hr>
                </ion-col>
            </ion-row>

            <ion-row class="fila">
                <!-- Presión -->
                <ion-col size="1.8" class="cuerpo1">
                    <img src="../../assets/wheater-icons/presion.png">
                </ion-col>
                <ion-col size="3.9" class="cuerpo2" *ngIf=" (this.dato.presion <2000); else noPresion">
                    {{ this.dato.presion }} hPa
                </ion-col>
                <ng-template #noPresion>
                        <ion-col size="3.9" class="cuerpo2">
                        ---- hPa
                    </ion-col>
                </ng-template>

                <!-- espacio -->
                <ion-col size="0.6">
                </ion-col>
             
                <!-- Aplicación -->
                <ion-col size="1.8" class="cuerpo1" *ngIf=" (this.dato.temp_af >= 30 || this.dato.hum_af <= 55 || this.dato.rr_15 > 0 || this.dato.viento_max > 10); else noAplicar">
                    <img src="../../assets/wheater-icons/no-aplicaciones.png">
                </ion-col>
                <ng-template #noAplicar>
                    <ion-col size="1.8">
                        <img src="../../assets/wheater-icons/aplicaciones.png">
                    </ion-col>
                </ng-template>
                <ion-col size="3.9" class="cuerpo2">
                    <p *ngIf=" (this.dato.temp_af >= 30 || this.dato.hum_af <= 55 || this.dato.rr_15 > 0 || this.dato.viento_max > 10); else noSePuedeAplicar">
                        No aplicar agroquímicos
                    </p>
                    <ng-template #noSePuedeAplicar>
                        Favorable para aplicar
                    </ng-template>
                </ion-col>
            </ion-row>

            <!-- Línea -->
            <ion-row>
                <ion-col size="5.7">
                    <hr>
                </ion-col>
                <ion-col size="0.6">
                </ion-col>
                <ion-col size="5.7">
                    <hr>
                </ion-col>
            </ion-row>

            <div id="fechayhora">
                <span>{{ this.hora }} hs</span>
            </div>
            <br>
            <ion-row>
                <ion-col size="12">
                    <hr>
                </ion-col>
            </ion-row>

            <div class="pronostico">
                <span>PRONOSTICO</span>
            </div>
            <div class="tds">
                (OpenWeathermap.org)
            </div>
            <ion-row>
                <ion-col size="12">
                <div class="finita"><hr></div>
                </ion-col>
            </ion-row>

            <div class="pronostico">
                <span>ALERTAS</span>
            </div>

            <table style="margin: 0 auto;">
                <tr *ngFor="let item of alertas">
                    <td class="alertas">
                        {{item.description}}
                    </td>
                </tr>
            </table>

            <ion-row>
                <ion-col size="12">
                <div class="finita"><hr></div>
                </ion-col>
            </ion-row>

            <div class="pronostico">
                <span>HOY</span>
            </div>
            <table style="margin: 0 auto;">
                <tr *ngFor="let item of datosH">
                    <td class="tds">
                        {{item[0]}}
                    </td>
                    <td class="tds">
                        <img src="{{item[1]}}" class="imagen">
                    </td>
                    <td class="tds">
                        {{item[2]}}º
                    </td>
                    <td class="tds">
                        {{item[3]}}%
                    </td>
                    <td class="tds">
                        {{item[4]}}km/h
                    </td>

                </tr>
            </table>
            <ion-row>
                <ion-col size="12">
                <div class="finita"><hr></div>
                </ion-col>
            </ion-row>

            <div class="pronostico">
                <span>A 7 DÍAS</span>
            </div>
            <table style="margin: 0 auto;">
                <tr>
                    <td *ngFor="let item of semana" class="tabla">
                        {{item}}
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let item of iconosD" class="tabla">
                        <img src="{{item}}">
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let item of maximasD" class="tabla">
                        {{item}}
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let item of minimasD" class="tabla">
                        {{item}}
                    </td>
                </tr>
            </table>
            <br>
            
        </ion-content>
