@font-face {
    font-family: helveticaNR;
    src: url('../../assets/fonts/helvetica-neue-lt-std-55-roman.otf');
    }
    @font-face {
        font-family: helveticaNBC;
        src: url('../../assets/fonts/HelveticaNeueLTStd-BdCn.otf');
        }

.contenido{
    --padding-top: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
}

.estacion1{
    color: lightgray;
    font-size: 16px;
    font-family: helveticaNBC;
    text-align: right;
    padding-top: 15px;
    padding-right: 5px;
    text-transform: uppercase;
}

.estacion2{
    padding-top: 15px;
}
.diasemana{
    color: lightgray;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: helveticaNR;
    text-align: left;
    padding-top: 5px;
    padding-right: 10px;
    text-transform: uppercase;
}

.tem{
    color: rgb( 128, 227, 211);
    letter-spacing: 1px;
    text-align: left;
    padding-top: 3px;
    padding-right: 10px;
    font-family: helveticaNR ;
    font-size: 68px;
}

.ico{
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
}

.fecha{
    color: lightgray;
    letter-spacing: 0px;
    font-size: 16px;
    font-family: helveticaNR;
    text-align: left;
    padding-top: 5px;
    padding-right: 10px;
    text-transform: uppercase;
}

.fila{
    display: flex;
    align-items: center;
    color: lightgray;
    padding: 0px;
    margin: 0px;
}

.cuerpo1{
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    justify-content: left;
    padding-left: 5px;
}

.cuerpo2{
    padding: 0px;
    margin: 0px;
    letter-spacing: 0px;
    font-size: 17px;
    font-family: helveticaNR;
    text-align: right;
    padding-right: 10px;
}

hr {
    background-color: rgb( 128, 227, 211) !important;
    height: 2px;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin: 0px !important;
  }

.finita hr {
    background-color: rgb( 128, 227, 211) !important;
    height: 1px;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin: 0px !important;
  }

  #fechayhora{
    color: lightgray;
    letter-spacing: 0px;
    line-height: 30px;
    font-size: 26px;
    font-family: helveticaNR;
    text-align: center;
    padding-top: 15px;
    padding-right: 5px;
    text-transform: uppercase;
}

.pronostico{
    color: lightgray;
    letter-spacing: 0px;
    line-height: 30px;
    font-size: 26px;
    font-family: helveticaNR;
    text-align: center;
    padding-top: 15px;
    padding-right: 5px;
}

.tabla{
    color: lightgray;
    letter-spacing: 0px;
    padding: 5px 5px 5px 5px;
    margin: 0px;
    letter-spacing: 0px;
    font-size: 15px;
    font-family: helveticaNR;
    text-align: center;
    padding: 0px;
    text-transform: uppercase;
}

.tds{
    color: lightgray;
    letter-spacing: 0px;
    padding: 0px 15px 0px 15px;
    margin: 0px;
    letter-spacing: 0px;
    font-size: 15px;
    font-family: helveticaNR;
    text-align: center;
}

.uv{
    color: lightgray;
    letter-spacing: 0px;
    padding: 0px 5px 0px 15px;
    margin: 0px;
    letter-spacing: 0px;
    font-size: 15px;
    font-family: helveticaNR;
    text-align: right;
}

.imagen{
    height: 40px;
    width: 40px;
}

.alertas{
    color: lightgray;
    letter-spacing: 0px;
    padding: 0px 5px 0px 15px;
    margin: 0px;
    letter-spacing: 0px;
    font-size: 15px;
    font-family: helveticaNR;
    text-align: left;
}
